
<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="wappMonitoreo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <!--Root logger configuration-->
    <root>
      <level value="ALL" />
      <!--
      <level value="DEBUG" />
      <level value="INFO" />
      <level value="WARN" />
      <level value="ERROR" />
      <level value="FATAL" />
      -->
      <appender-ref ref="console" />
      <!--Reference the console appender-->
      <appender-ref ref="file" />
      <!--Reference the file appender-->
    </root>
    <!--Console appender-->
    <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <!--Rolling file appender-->
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <file value="${TMP}\Wapp_Monitoreo.log" />
      <!--Specify the log file name-->
      <appendToFile value="true" />
      <!--Append to existing log file-->
      <rollingStyle value="Size" />
      <!--Roll over based on file size-->
      <maxSizeRollBackups value="5" />
      <!--Keep 5 backup log files-->
      <maximumFileSize value="10MB" />
      <!--Maximum log file size-->
      <staticLogFileName value="true" />
      <!--Use a static log file name-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <!--OWIN SWITCH [system.web.server]-->
  <system.webServer>
    <modules>
      <remove name="formsauthentication" />
    </modules>
  </system.webServer>
  <system.web>
    <httpRuntime maxRequestLength="1048576" />
    <sessionState mode="InProc" cookieless="false" timeout="120" />
    <compilation targetFramework="4.8" />
    <!--OWIN SWITCH Authentication "none" and Authorization deny users ="?"-->
    <authentication mode="None" />
    <authorization>
      <deny users="?" />
    </authorization>
    <pages styleSheetTheme="Style" enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <location path="PostLogoutScreen.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <!--Service Now OXXO -->
    <add key="REST_API_SNowOxxo" value="pbEN62/SREepnDNKNcDUCbQmZ72XkSbQ/HGvYcms6YSCqbPfYWzyNjTfDw4qrxSgbaKoYdzg/a1z1X6F/llBQA==" />
    <add key="UserSNowOxxo" value="kZYv3jFXF0GuKp/s0BAimQ==" />
    <add key="PasswordSNowOxxo" value="3YqMxUCEIzmRpO8/Axb2aw==" />
    <!--OWIN SWITCH-->
    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="owin:AutomaticAppStartup" value="true" />
    <!--MFA Settings-->
    <add key="ida:ClientId" value="01dd7985-b865-4e30-8ff4-b19dc6a879a9" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/" />
    <add key="ida:Domain" value="femsaonline.onmicrosoft.com" />
    <add key="ida:TenantId" value="cd5a7a30-5f9a-410b-a037-86e1e17a4330" />
    <add key="ida:PostLogoutRedirectUri" value="https://localhost:44399/PostLogoutScreen.aspx" />
    <!--MODIFICAR SECRET UNA VEZ HAYA VENCIDO-->
    <add key="ida:Secret" value="%SECRET%" />
    <add key="ida:PostLoginRedirectUri" value="https://localhost:44399/signin-oidc" />
    <add key="ida:UrlToken" value="https://login.microsoftonline.com/common/oauth2/v2.0/token" />
    <add key="ida:UrlGraphUserRead" value="https://graph.microsoft.com/v1.0/me/?$select=EmployeeId" />
    <!--
  Configuracion de value: value = "common" para una conf. multitenant y value = "tenantid" para conf. Single Tenant
  Ejemplo:
  <add key="ida:Organization" value="common" />
  -->
    <add key="ida:Organization" value="cd5a7a30-5f9a-410b-a037-86e1e17a4330/" />
    <!--FIN MFA Settings-->
  </appSettings>
  <applicationSettings>
    <wappMonitoreo.Properties.Settings>
      <setting name="wappMonitoreo_wsServiceDesk_USD_WebService" serializeAs="String">
        <value>http://cscmsdpb1.csc.fmx:8080/axis/services/USD_R11_WebService</value>
      </setting>
      <setting name="wappMonitoreo_wsMonitoreo_WSMonitoreo" serializeAs="String">
        <value>http://xpemhdreg1.csc.fmx:125/WSMonitoreo.asmx</value>
      </setting>
    </wappMonitoreo.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
<!--ProjectGuid: 1E236F14-4277-405B-8BBE-2F1D43143FA7-->